.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0 !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.total {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 20px !important;
}

.select {
  max-width: 220px;
  width: 100%;
}

:global(.ant-select) {
  width: 100%;
}

:global(.ant-select-selector) {
  height: 40px !important;

  border-radius: 10px !important;
  border: 1px solid var(--color-border) !important;

  display: flex;
  align-items: center;

  padding: 0 12px !important;

  transition: all 0.2s ease;
  box-shadow: none !important;
}

:global(.ant-select:hover .ant-select-selector) {
  border-color: var(--color-primary) !important;
}

:global(.ant-select-focused .ant-select-selector) {
  border-color: var(--color-primary) !important;
  box-shadow: 0 0 0 2px var(--color-primary-light) !important;
}

:global(.ant-select-selection-item) {
  font-size: 14px;
  color: var(--color-text);
}

:global(.ant-select-selection-placeholder) {
  color: var(--color-text-light);
}

:global(.ant-select-suffix) {
  color: var(--color-text-half-shade);
}

.select:hover :global(.ant-select-suffix),
.select:global(.ant-select-open) :global(.ant-select-suffix) {
  color: var(--color-primary) !important;
}

:global(.ant-select-dropdown) {
  border-radius: 12px;
  padding: 6px;
}

.sortWrapper {
  display: flex;
  gap: 16px;
}

.view {
  background-color: var(--color-white);
  display: flex;
  gap: 5px;
  border-radius: var(--ant-border-radius);
  border: 1px solid var(--ant-color-border);
  position: relative;
}

.view::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 1px;
  height: 50%;
  background-color: var(--ant-color-border);
  transform: translate(-50%, -50%);
}

.icon {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.iconActive {
  color: var(--color-primary);
}

:global(.ant-select-item-option) {
  border-radius: 8px;
  padding: 8px 10px;
}

:global(.ant-select-item-option-active) {
  background: var(--color-primary-light) !important;
}

:global(.ant-select-item-option-selected) {
  background: var(--color-primary-light) !important;
  font-weight: 500;
}
