.modal {
  margin: 40px 0 !important;
}

.modal :global(.ant-modal-content) {
  padding: 0 !important;

  overflow: hidden;

  border-radius: var(--radius-xl);
}

.modal :global(.ant-modal-body) {
  padding: 32px 12px;
}

.form {
  border: none !important;
  padding: 0 !important;
}

.editButton {
  opacity: 0.8;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.editButton:hover {
  color: var(--color-primary-hover) !important;
  border-color: var(--color-primary-hover) !important;
  opacity: 1 !important;
}
